flask
flask-compress
flask-cors
python-dotenv
google-genai
PyJWT
passlib
bcrypt
bleach
flask-wtf
flask-migrate
flask-sqlalchemy
sentry-sdk[flask]
marshmallow
structlog
flask-limiter
flask-caching
flask-babel
celery
redis
flasgger
flask-socketio
eventlet
pytest
pytest-flask
pytest-cov
marshmallow>=3.0.0
beautifulsoup4
pdfkit
html5lib
requests
authlib
Pillow
flask-mail
cloudinary
filetype
gunicorn
