flask
flask-compress
flask-cors
python-dotenv
google-genai
PyJWT
passlib
bcrypt
bleach
flask-wtf
flask-migrate
flask-sqlalchemy
sentry-sdk[flask]
marshmallow
structlog
flask-limiter
flask-caching
flask-babel
celery
redis
flasgger
flask-socketio
pytest
pytest-flask
pytest-cov
factory-boy
faker
marshmallow>=3.0.0
beautifulsoup4
pdfkit
html5lib
requests
authlib
Pillow
flask-mail
cloudinary
filetype
gunicorn
gevent
gevent-websocket
alembic==1.12.0
psycopg2-binary==2.9.7
SQLAlchemy==2.0.21
